<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit_Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>external</group>
        </exclude>
    </groups>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../ws</directory>
        </whitelist>
    </filter>

</phpunit>
